# Core dependencies
PyQt6>=6.0.0
PyQt6-WebEngine>=6.0.0
PyQt6-Qt6>=6.0.0
PyQt6-sip>=13.0.0
pyqtgraph>=0.12.0
pandas>=1.2.0
numpy>=1.19.0
scapy>=2.4.0
python-dateutil>=2.8.0
pytz>=2020.1
tzdata>=2021.1
matplotlib>=3.3.0

# Additional dependencies for real-time analysis
dash>=2.0.0
dash-bootstrap-components>=1.0.0
plotly>=5.0.0
